{% extends "base.html "%}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div id="calendar">
            </div>

        </div>
        <div class="col-md-6">
            <div>
                <label for="number_of_geusts">How many persons</label>
                <select id="number_of_geusts">
                    <option value="1">1</option>
                    <option value="2">2</option>
                </select>
            </div>
        </div>
    </div>
</div>
<script src='https://cdn.jsdelivr.net/npm/fullcalendar/index.global.min.js'></script>
<script>

  document.addEventListener('DOMContentLoaded', function() {
    const calendarEl = document.getElementById('calendar')
    const calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth'})
    calendar.render()
    calendarEl.addEventListener('click',function(e){
        console.log(e.target.ariaLabel);
    })})

    selectElement = document.querySelector('#number_of_geusts');
    selectElement.addEventListener('change',()=>{
        output = selectElement.value;
        console.log(output)
    })

</script>
{% endblock %}