{% extends 'base.html'%}
{% block content%}
<div class="d-flex justify-content-center">
<div class="col-md-6">
    <form method="post" id="reservationForm">
    {% csrf_token %}
    {{reservation_form}}
    {% if user.is_authenticated %}
    <div class="mt-4 d-flex">
        <button type="submit" id="submitButton" class="btn btn-success mb-3" style="width: 27%;">Reserve </button>
    </div>
    {% else %}
    <div class="mt-3">
        <h5 class="text-danger">Plase log in to make reservation </h5>
    </div>
    {% endif %}
  </form>

</div>
</div>

{% endblock %}