{% extends 'base.html' %}

{% block content %}
{% load static%}
<div class="container mt-3">
<table class="table">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Time</th>
        <th scope="col">Area</th>
        <th scope="col">Have Kids</th>
        <th scope="col">Notes</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
        {% for reservation in reservations %}
      <tr>

        <th scope="row">{{reservation.date}}</th>
        <td>{{reservation.time}}</td>
        <td>{% if reservation.area == 0 %}Near to fireplace{% elif reservation.area == 1%}Terrace{% elif reservation.area == 2 %}Smoker{% elif reservation.area == 3%}Inside{% elif reservation.area == 4%}Second floor{%endif%}</td>
        <td>{% if reservation.have_kids %}Yes {%else%}No {%endif%}</td>
        <td>{{reservation.note}}</td>
        <td>
            <button class="btn btn-edit" reservation_id="{{reservation.id}}" ><i class="fa fa-edit ms-3 text-success"></i></button>
            <button class="btn btn-delete" reservation_id="{{reservation.id}}" data-bs-target="#deleteModal" data-bs-toggle="modal"><i class="fa fa-trash ms-3 text-danger"></i></button>
        </td>
      </tr>
        {% endfor%}
    </tbody>
  </table>

<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1"
aria-labelledby="deleteModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title"
        id="deleteModalLabel">Delete Reservation?</h5>
      <button type="button" class="btn-close"
        data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      Are you sure you want to delete your Reservation? <br/>
      This action cannot be undone.
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary"
        data-bs-dismiss="modal">Close</button>
      <a id="deleteConfirm" href="#" class="btn
        btn-danger">Delete</a>
    </div>
  </div>
</div>
</div>
</div>
{% endblock content%}

{% block extras %}
<script src="{% static 'js/reservation.js' %}"></script>

{% endblock %}